@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
div {
  font-family: "Inter";
}
.nav-container {
  font-family: "Inter";
}
#button-addon2 {
  background-color: #5156be;
  color: white;
}
#search-bar {
  border: none;
  background-color: #fbfaff;
  margin-left: 20px;
  width: 200px;
}
#bs-plus {
  background-color: #5156be;
  color: #fbfaff;
  padding: 6px 10px 1px 10px;
  border-radius: 5px;
}
.navicons {
  margin-left: 10px;
}
#profile-pic {
  width: 40px;
  height: 40px;
}
#sub-nav {
  background-color: white;
  border-bottom: 1px solid #e9e9ef;
  border-top: 1px solid #e9e9ef;
}
.sub-nav-menu {
  color: #495057;
  font-family: "Inter";
  width: 100%;
}
.sub-nav-icon {
  color: #495057;
  font-size: 18px;
}
.report {
  margin-left: -30px;
}
.campaign {
  margin-left: -20px;
}
.sidebar-button {
  background-color: #5156be;
}
.toolBar {
  background-color: #ffffff;
}
.right-box {
  background-color: #f4f5f7;
}
.router-link {
  text-decoration: none;
  color: #495057;
}
.left-list-link {
  text-decoration: none;
  color: #495057;
  font-family: "Inter";
  width: 100%;
}
.left-list-link:hover {
  background-color: #5156be;
  color: white;
}
.icons {
  margin-left: 20px;
}
.dash-card {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

/* total customer card start */
.dash-card-icon {
  padding: 13px 13px 13px 13px;
  background-color: #0dcd94;
  color: #ffffff;
  margin: 25px 13px 25px 13px;
  box-shadow: 0px 10px 20px rgba(13, 205, 148, 0.27);
}
.dash-card-text p {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #495057;
}
.dash-card-text h5 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  color: #0dcd94;
}
.dash-card-text span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #97a0a8;
}
.dash-card-image {
  align-self: center;
  margin-right: 20px;
}
/* total customer card end */

/* hot lead card start */
.dash-card-icon2 {
  padding: 13px 13px 13px 13px;
  color: #ffffff;
  margin: 25px 13px 25px 13px;
  background: #bd1ec0;
  box-shadow: 0px 10px 20px rgba(189, 30, 192, 0.25);
}
.dash-card-text2 p {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #495057;
}
.dash-card-text2 h5 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  color: #bd1ec0;
}
.dash-card-text2 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #97a0a8;
}
/* hot lead card end */

/* prospect start */
.dash-card-icon3 {
  padding: 13px 13px 13px 13px;
  color: #ffffff;
  margin: 25px 13px 25px 13px;
  background: #fab323;
  box-shadow: 0px 10px 20px rgba(250, 179, 35, 0.25);
}
.dash-card-text3 p {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #495057;
}
.dash-card-text3 h5 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  color: #fab323;
}
.dash-card-text3 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #97a0a8;
}
/* prospect end */

/* pending application start */
.dash-card-icon4 {
  padding: 13px 13px 13px 13px;
  color: #ffffff;
  margin: 25px 13px 25px 13px;
  background: #634ee8;
  box-shadow: 0px 10px 20px rgba(99, 78, 232, 0.25);
}
.dash-card-text4 p {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #495057;
}
.dash-card-text4 h5 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  color: #634ee8;
}
.dash-card-text4 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #97a0a8;
}
/* pending application end */

/* single application start */
.dash-card-icon5 {
  padding: 13px 13px 13px 13px;
  color: #ffffff;
  margin: 25px 13px 25px 13px;
  background: #1e2886;
  box-shadow: 0px 10px 20px rgba(28, 13, 205, 0.27);
}
.dash-card-text5 p {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #495057;
}
.dash-card-text5 h5 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  color: #1e2886;
}
.dash-card-text5 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #97a0a8;
}
/* single application end */

/* collaborator start */
.dash-card-icon6 {
  padding: 13px 13px 13px 13px;
  color: #ffffff;
  margin: 25px 13px 25px 13px;
  background: #7bc72f;
  box-shadow: 0px 10px 20px rgba(13, 205, 148, 0.27);
}
.dash-card-text6 p {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #495057;
}
.dash-card-text6 h5 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  color: #7bc72f;
}
.dash-card-text6 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #97a0a8;
}
/* collaborator end */
.dash-card-circle-progress {
  width: 74px;
  align-self: center;
  margin-right: 10px;
  background-color: #fff3f3;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
}
.dash-card-text h6 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  color: #495057;
}
.appointment-card img {
  width: 30px;
  height: 30px;
}
.appointment-card p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #97a0a8;
}
.appointment-card-time p {
  font-weight: 600;
  font-size: 13px;
  line-height: 10px;
  text-align: center;
  color: #495057;
  margin-top: 48px;
  margin-right: 0px;
}
.crm-box {
  background-color: #ffffff;
  overflow: auto;
  height: 350px;
}
.box-title {
  display: flex;
  justify-content: space-between;
}
.box-title h5 {
  font-weight: 400;
  font-size: 22px;
  line-height: 21px;
  color: #213446;
}
.steps-circle {
  width: 17px;
  height: 17px;
  background-color: #0dcd94;
  border-radius: 50%;
  justify-self: center;
  margin-top: 4px;
  display: block;
}
.step small {
  font-weight: 400;
  font-size: 14px;
  color: #97a0a8;
}
.step {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.v-stepper {
  margin-top: 2px;
  position: relative;
}

.step .circle {
  background-color: #5a8dee;
  border: 3px solid #eff2f7;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.step .line {
  top: 20px;
  left: 9px;
  height: 110%;
  position: absolute;
  border-left: 3px solid #eff2f7;
}

.step.completed .circle {
  visibility: visible;
  background-color: #7bc72f;
  border-color: #eff2f7;
}
.step.pending .circle {
  visibility: visible;
  background-color: #fdac41;
  border-color: #eff2f7;
}

.step.completed .line {
  border-left: 3px solid #eff2f7;
}

.step.active .circle {
  visibility: visible;
  border-color: #eff2f7;
}

.step.empty .circle {
  visibility: hidden;
}

.step.empty .line {
  top: 0;
  height: 150%;
}

.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1;
}

.content {
  margin-left: 15px;
}
.step-content img {
  width: 40px;
  height: 40px;
  margin-right: -5px;
}
.step-content {
  margin-top: -5px;
}
.step-content p {
  margin-top: -2px;
  margin-bottom: -5px;
}
.step-title {
  font-weight: 500;
  font-size: 16px;
  color: #495057;
}
.step-sub-content p {
  font-weight: 400;
  font-size: 16px;
  color: #495057;
}
.step-sub-content small {
  font-weight: 400;
  font-size: 12px;
  color: #97a0a8;
}
.sub-paragraph {
  margin-top: -10px;
}
.table-box {
  color: #495057;
  font-weight: 400;
  align-self: center;
}
.table-box td {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #495057;
}
.table-box img {
  margin-top: -3px;
}
.team-box img {
  width: 34px;
  height: 34px;
}
.team-box p {
  font-weight: 400;
  font-size: 16px;
  color: #495057;
}
.online p {
  color: #4fde97;
}
.offline p {
  color: #f42a39;
}
.box-content {
  padding-top: 10px;
  border-radius: 5px;
}
.box-content:hover {
  background-color: #f0f0f8;
}
.box-content:hover p {
  font-weight: 600;
}
.top-dash-option {
  display: flex;
  justify-content: space-between;
}
.top-dash-option h5 {
  font-size: 20px;
  color: #42484f;
}
.top-dash-option a {
  text-decoration: none;
  font-size: 14px;
  color: #495057;
  margin-left: 20px;
  background-color: white;
  padding: 8px 15px 10px 15px;
  border-radius: 2px;
}
.dash-option-content:hover{
  background-color: #5156BE;
  color: white;
}